[Unit]
Description=gmrender-resurrect service
After=network.target sound.target

[Service]
User=respeaker
ExecStart=/usr/bin/python /home/respeaker/snips-audio-controller/snipsAudioController/snipsAudioController.py
Restart=always

[Install]
WantedBy=multi-user.target
